{
    "presets": [
        ["@babel/env", {
            "targets": {
                "node": "8.9.4"
            }
        }],
        "@babel/typescript"
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", {
            "legacy": true
        }],
        ["@babel/plugin-proposal-class-properties", {
            "loose": true
        }],
        "@babel/plugin-proposal-object-rest-spread"
    ]
}