
# Library Web App
/library-web-app/node_modules
/library-web-app/coverage
/library-web-app/build
/library-web-app/.DS_Store
/library-web-app/.env.local
/library-web-app/.env.development.local
/library-web-app/.env.test.local
/library-web-app/.env.production.local
/library-web-app/npm-debug.log*
/library-web-app/yarn-debug.log*
/library-web-app/yarn-error.log*

# Library API
/library-api/node_modules
/library-api/build
